@import "../../variables.scss";
.loader {
  height: 100vh;
  width: 100%;
  background-color: $background;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // clip-path: circle(50% at 50% 50%);
  // clip-path: inset(0% 0% 0% 0%);

  mask-image: radial-gradient(circle, transparent 0%, transparent 0%, black 0%);
  h1 {
    font-size: 144px;
    opacity: 1;
  }

  .imageContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 80%;
    background-color: $background;

    margin: 0 auto;
    .image {
      position: sticky;
      top: 0%;
      transform: translateY(-100%);
      object-fit: cover;
    }
  }
}
