@import "../../variables.scss";

.contentContainer {
  height: 500vh;
  background-color: black;
  color: $background;
  .contentSlide {
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;
    .intro {
      width: 100vw;
    }
    .itemContainer {
      width: 100vw;
      position: sticky;
      top: 100px;
      // transform: translateX(100%);
      .contentItem {
        display: flex;
        width: 60vw;
        flex-direction: column;
        height: 80vh;
        margin: 42px 72px;
        justify-content: space-between;
        h2 {
          font-size: 54px;
        }
        p {
          font-size: 22px;
          margin-top: 22px;
          margin-bottom: 92px;
        }
        .imgContainer {
          width: 60vw;
          height: 400px;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
