.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  position: fixed;
  top: 10px;
  width: 45vw;
  z-index: 12;

  .menuOpener {
    z-index: 12;

    font-size: 22px;
    &:hover {
      cursor: pointer;
    }
  }


  &.open {
    width: 95vw;
    .menuOpener {
      z-index: 13;
      color: white;
    }
    .credit {
      display: none;
    }
    .close {
      color: white;
      z-index: 13;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
