.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
  margin-top: 122px;
  height: 500vh;
  h2 {
    margin-bottom: 112px;
    font-size: 54px;
  }
  p {
    font-size: 36px;
  }
}
.description {
  position: sticky;
  top: 60px;
}
.descriptionText {
  margin: 0 auto;
  width: 90%;
}

.descriptionText span {
  opacity: 0.5;
  font-weight: 700;
}
